#buttins {
    width: 100px; /* width of image */
    height: 200px; /* height of image */
    background-image: url(/story9/static/image/mystar.png);
}

#buttins:hover {
    background-image: url(/story9/static/image/newstar.png);
}