<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<title> Tryout
</title>
    <meta name="google-signin-client_id"
          content="710278269268-e13s6rtrpf24f8mhp739b99f8mq0ft6v..apps.googleusercontent.com">
</head>
<body>
{% if user.is_authenticated %}
<h1> Hello, {{user.username}}</h1>
<h2> This is a Death Note</h2>
<h4> write the name and cause of death, if cause of death is "none" it will be auto filled with heart attack</h4>
<form method="POST" action="{% url 'tryout2:addnew' %}">
{% csrf_token %}
<label> Name : </label> {{formita.name}}
<label> Cause of Death : </label> {{formita.desc}}
<input type="submit" value="submit">
</form>
<table class="this_table">
<tr>
<th> Name </th>
<td> </td>
<th>cause of death</th>
<th> date <th>
</tr>
{% for it in items %}
<tr>
<td> {{it.name}} </td>
<td></td>
<td id="none"> {{it.desc}} </td>
<td> {{it.date}} </td>
</tr>
{% endfor %}
{% else %}
<a href="{% url 'social:begin' backend='google-oauth2' %}">Login with Google</a><br>
{% endif %}
</body>
<script>
$('table td').text(function(i,t){
    return t.replace('none', 'Heart Attack');
});

$('.this_table').css({'background-color':'blue'})
</script>
</html>