
{% load staticfiles %}
<html>

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stylecopy.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static "js/profile.js" %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
</head>
<title>
    Profile
</title>
<body>
<div id="progressbar"></div>
<div id="dermatologist" style="display: none">
<div class="class1" style="background-color:#000;">
    <div style="padding-right:1rem">
        <h1 style="color:white; text-align:right; padding-top:2rem">MUHAMMAD</h1>
        <h1 style="color:#c4c4c4; text-align:right; ">NAUFAL</h1>
        <h1 style="color:white; text-align:right;">IlRBAHHANA</h1>
        <h2 style="color:white; text-align:right;padding-top:10px">1706019425</h2>
    </div>
    <hr>
    <p class="pclass1">Address: BSD Blok H-4 No 6 Sektor 1-1 Tangerang Selatan Banten<br>
        Phone Number: 087871786040<br>
        Majoring: Computer Science<br>
        Hobbies: Sports, Video game, Singing<br>
        Motto: Melakukan segala hal dengan nama Allah<br>
        Bio :I am a bright and happy person, i tend to cheer people.<br>
        Also a hardworker and passionate student.</p>
</div>

<div class="class2" style="background-color:white;padding-top: -2px">
    <div class="center">
        <img src="{% static 'image/me.jpeg' %}" imag-hover="tooltip" title="This is me"
             class="rounded-circle mx-auto d-block" height="250" width="200">
        <h1 style="text-align:center;">SKILLS</h1>
    </div>
    <div class="picture">
        <img src="{% static 'image/skills.png' %}" class="rounded mx-auto d-block" height="200" width="400">
    </div>
    <h2 style="margin-left: 20%;margin-top: 2%"> Pick your theme !</h2>
    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="padding-left:30%">
        <label class="btn btn-outline-secondary">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Theme 1
        </label>
        <label class="btn btn-outline-success">
            <input type="radio" name="options" id="option2" autocomplete="off"> Theme 2
        </label>
    </div>
</div>

<div class="class3">
    <div id="accordion">
        <h3>Activity</h3>
        <div>
            <p>
            <ul>
                <li>I like to eat</li>
                <li>Do sports</li>
                <li>play video games</li>
            </ul>
            </p>
        </div>
        <h3>Organisation / Committees</h3>
        <div>
            <p>
            <ul>
                <li>OH Fasilkom UI</li>
                <li>PDK CS League</li>
                <li>Stage Compfest X</li>
                <li>Media & PR Asian Games Volunteer</li>
            </ul>
            </p>
        </div>
        <h3>Achievements</h3>
        <div>
            <ul>
                <li>Top 10 Best Startup Worldwide with INAGRI</li>
                <li>surviving fasilkom</li>
            </ul>
        </div>
    </div>
    <div style="padding-top: 1rem;">
    <a class="btn btn-danger btn-lg btn-block" href="{% url 'lab_3:registro' %}" role="button">Register !</a>
    </div>
    </div>
</div>
</body>
</html>
