{% extends "navbar.html" %}
{% block content %}
    {% load staticfiles %}

    <html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'js/subscribe.js' %}"></script>
    </head>
    <title>
        Registration Form
    </title>
    <body>
    <div class="form-block col-sm-4">
        {% csrf_token %}
        {{ subscribe_form }}
        <div id="statusForm"></div>
        <br>
        <button class="button" name="submit" id='subs-button' disabled>Submit</button>
    </div>
    </body>
    </html>
{% endblock %}