{% extends "navbar.html" %}
{% block content %}
    {% load staticfiles %}

    <html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/status.css' %}">
        <title>
            Landing Page
        </title>
    </head>
    <body>
    <div style="padding-top: 20px"></div>
    <form class="box" method="POST" action="{% url 'lab_3:add_status' %}">
        {% csrf_token %}
        {{ status.status }}
        <button type="submit" class="srch-btn" id="submit"><i class="fas fa-share"></i>
        </button>
    </form>
    <div style="padding-top: 500px"></div>
    <h1 style="margin-left: 39%" name="heading"> Hello, How Are You ?</h1>
    <div style="padding-bottom: 40px" name="cardgap"></div>
    {% for item in events %}
        <div class="card shadow"
             style="margin-left:41%; width: 18rem; border-radius: 32px; padding:15px; margin-bottom:32px;">
            <div class="card-body">
                <h3 class="card-title"> {{ item.forms }} </h3>
                <a href="{% url 'lab_3:delete' item.id %}" class="btn btn-primary">delete</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>