{% load staticfiles %}
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/logo.css' %}">
</head>
<body>
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'story4:landing-page' %}">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'story4:show' %}">My Schedule</a>
                        <a class="dropdown-item" href="{% url 'story4:scheduling' %}">Add Activity</a>
                        <a class="dropdown-item" href="{% url 'story4:erase' %}">Erase All Activity</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}

</body>
<footer>
    <div class="logo">
        <a href="www.twitter.com/irbahhana"><img src="{% static 'image/twitter.png' %}" height="50" width="50"></a>
        <a href="https://www.facebook.com/naufal.irbahhana"><img src="{% static 'image/facebook.png' %}" height="50"
                                                                 width="50"></a>
        <a href="https://www.linkedin.com/in/muhammad-naufal-irbahhana-651317147/"><img
                src="{% static 'image/linkedin.png' %}" height="50" width="50"></a>
        <a href="www.instagram.com"><img src="{% static 'image/instagram.png' %}" height="50" width="50"></a>
    </div>
</footer>

</html>