{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
 <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<title>
    Landing Page
</title>
        <div class="container" style="margin-left: 0;">
            <div>
                <h1 style="font-size:70px;text-align:center;">Muhammad Naufal Irbahhana</h1>
                <div class="container2">
                    <a href="{% url 'story4:profile'%}" class="btn btn-outline-secondary btn-lg " role="button" aria-pressed="true">My Profile</a>
                    <a href="{% url 'story4:register'%}" class="btn btn-outline-secondary btn-lg " role="button" aria-pressed="true">Register</a>
                </div>
            </div>
        </div>
{% endblock %}