{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <title>
        Profile
    </title>
    <body>
        <div class="class1" style="background-color:#000;">
            <a href="{% url 'story4:landing-page'%}" class="btn btn-outline-secondary btn-lg " role="button" aria-pressed="true" style="padding-top:3px;">Back</a>
            <div style="padding-right:1rem">
                <h1 style="color:white; text-align:right; padding-top:2rem">MUHAMMAD</h1>
                <h1 style="color:#c4c4c4; text-align:right; ">NAUFAL</h1>
                <h1 style="color:white; text-align:right;">IRBAHHANA</h1>
                <h2 style="color:white; text-align:right;padding-top:10px">1706019425</h2>
            </div>
            <hr>
            <p>Address: BSD Blok H-4 No 6 Sektor 1-1 Tangerang Selatan Banten</p>
            <p>Phone Number: 087871786040</p>
            <p>Majoring: Computer Science</p>
            <p>Hobbies: Sports, Video game, Singing</p>
            <p>Motto: Melakukan segala hal dengan nama Allah</p>
            <p>Bio :I am a bright and happy person, i tend to cheer people. 
                    Also a hardworker and passionate student.</p>
        </div>

        <div class="class2" style="background-color:white;">
            <div class="center">
                <img src="{% static 'image/me.jpeg' %}" class="rounded-circle mx-auto d-block" height="250" width="200">
                <h1 style="text-align:center;">SKILLS</h1>
            </div> 
            <div class="picture" style="padding-top:4rem">
                <img src="{% static 'image/skills.png' %}" class="rounded mx-auto d-block"height="200" width="400">
            </div>
        </div>

        <div class="class3">
            <img src="{% static 'image/pengalaman.png' %}"/>
        </div>
    </body>
</html>
