{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <title>
        Registration Form
    </title>
    <body>
        <div class="regisbox">
            <h1>
                Register
            </h1>
            <form>
            <div class="textbox">
                <i class="far fa-user"></i>
                <input type="text" placeholder="Name" name="" value="" required>
            </div>
            <div class="textbox">
                <i class="far fa-calendar"></i>
                <input type="date" name="" value="">
            </div>
            <div class="textbox">
                <i class="far fa-envelope"></i>
                <input type="email" name="" value="" placeholder="Email" required>
            </div>
            <div class="textbox">
                <i class="fas fa-at"></i>
                <input type="text" placeholder="Username" name="" value="" required>
            </div>
            <div class="textbox">
                <i class="fas fa-key"></i>
                <input type="password" placeholder="Password" name="" value="" required>
            </div>
            <div class="textbox">
                <i class="fas fa-unlock"></i>
                <input type="password" placeholder="Retype Password" name="" value="">
            </div>
        <button class="btn btn-outline-secondary btn-lg " aria-pressed="true" style="padding-top:3px;" type="submit">Register</a>
        </div>
    </form>
    </body>
    
</html>
{% endblock %}