body {
    margin: 0;
    padding: 0;
    background: #aec6cf;
}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: auto;
    border-radius: 40px;
    padding: 10px;
}

.box:hover > .search-text {
    width: 240px;
    padding: 0 6px;
}

.box:hover > .srch-btn {
    color: whitesmoke;
}

.srch-btn {
    color: #aec6cf;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.srch-btn > i {
    font-size: 30px;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}
