
@media only screen and (min-width: 400px) {
    .container{
        position: fixed;
        left:50%;
    }
    .container2{
        position: fixed;
        left: 50%;
    }
    }
body{
    /* background-image: "background.png"; */
    background: url("/static/image/background2.f77310c25e3c.png");
    background-attachment: scroll;
    background-repeat: repeat-y;
    margin:auto;
}

.container{
    /* position: fixed; */
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* top:58%; */
    /* left:24%; */
    /* margin-top: -100px; */
    /* margin-left: -200px; */
}
.container2{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    /* position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); */
}

.logo {
    left: 50%;
    transform: translateX(-50%);
}