
@media only screen and (min-width: 400px) {
  .class1{
    display:block;
    margin:auto;
    width:auto;
  }
  
  p {
    padding-top: 25px;
    padding-left: 2rem;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .class2 div.picture img{
    display:block;
    margin:auto;
    width:auto;
  }

  .class3 img{
    display:block;
    margin:0;
    width:100%;
    background-color: #c4c4c4;
  }
}

@media only screen and (min-width: 992px) {
  body,
  html {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', serif;
    font-size: 16px;
  }

  hr{
    border-color: white;
  }
  .class1{
    width: 33.33%;
    float: left;
    height: 100%;

  }
  .class2{
    width: 33.33%;
    float: left;
    height: 100%;
    padding-top: 4rem;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
    
  .class3{
      width: 33.33%;
      float: left;
      height: 100%;
      overflow-y: scroll;
      background-color: #c4c4c4;
  }

  .class3::-webkit-scrollbar {
    width: 0px;
    background-color: #c4c4c4;
  }

  p {
    padding-top: 25px;
    padding-left: 2rem;
    text-align: left;
    color: white;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .accordion{
    background-color: #f5f6fa;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;

  }
}
