body{
    /* background-image: "background.png"; */
    background: url("/static/image/background2.42e36dcdb871.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin:auto;
}

.container{
    position: fixed;
    top:58%;
    left:24%;
    margin-top: -100px;
    margin-left: -200px;
}
.container2{
    position: fixed;
    left: 40%;
}
.logo{
    position: fixed;
    top:90%;
    left: 40%;
}
