<html>
<head>
    <meta charset="UTF-8">
    <title>
        title
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<form method="POST" action="{% url 'tryout:add_item' %}">
    {% csrf_token %}
    <label id="items_label" for="items">Items:</label><input type="text" id="items" class="abc" name="items"
                                                             oninput="typingsomething()">
    <input type="submit" value="submit" class="quanta">
</form>

<h1> Cart</h1>
<table id="list_shopping">
    {% for it in items %}
        <tr>
        <td class="item" id="{{ it.id }}_items"> {{ it.items }}</td>
        <td class="item" id="{{ it.id }}_shopping_date"> {{ it.datetime }}</td>
    {% endfor %}
</table>
</body>
<script>
    var typingsomething = function () {
        console.log($('.abc').val())
    };
    $('h1').css({"font-style": "italic"});
    $('#list_shopping').css({'background-color': 'blue'});
    $('.quanta').click(function () {
        alert('asdjniifadiu')
    })
</script>
</html>